{% extends 'Blog/encabezado.html' %} 

{% load static %} 

{% block contenidoQueCambia %}

    <h2 class="mb-4">Articulo {{articulo.titulo}}</h2>
    <h3>{{articulo.subtitulo}}</h3>
    <h6>Publicado por {{articulo.autor.get_full_name}} en {{articulo.fecha}}</h6>
    <img width="40px" src="{{avatar_autor}}">
    <br>
    <p>{{articulo.texto}}</p>
    <br>
    <img width="800px" src="{{articulo.imagen.imagen.url}}">
    <p>{{articulo.imagen.nombre}}</p>
    <p>
        <a href="{% url 'listArticulos' %}">Regresar</a>
    </p>

{% endblock %}